{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/favorites.css' %}" />
{% endblock %}
{% block title %}Избранные треки{% endblock %}
{% block content %}
<div class="favorites-container">
  <h1>Избранные треки</h1>
  {% if tracks %}
    <div class="track-row">
      {% for track in tracks %}
        <div class="track-item">
          <div class="track-cover">
            {% if track.album.cover %}
              <img src="{{ track.album.cover.url }}" alt="{{ track.title }}" />
            {% else %}
              <div class="no-cover">No Cover</div>
            {% endif %}
          </div>
          <div class="track-details">
            <p class="track-title">{{ track.title }}</p>
            <p class="track-artist">{{ track.artist.name }}</p>
            <p class="track-album">Альбом: {{ track.album.title }}</p>
            <p class="track-duration">Длительность: {{ track.duration    }}</p>
          </div>
          <div class="track-actions">
            <form action="{% url 'like_track' track.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="like-button">
                ❤️ Убрать из избранного
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>У вас пока нет избранных треков.</p>
  {% endif %}
</div>
{% endblock %}